### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/
AdventOfCode2024Java.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### stuff ###
/src/main/resources/day01/aoc-2024-1.txt
/src/main/resources/day02/aoc-2024-2.txt
/src/main/resources/day03/aoc-2024-3.txt
/src/main/resources/day04/aoc-2024-4.txt
/src/main/resources/day05/aoc-2024-5.txt
/src/main/resources/day06/aoc-2024-6.txt
/src/main/resources/day07/aoc-2024-7.txt
/src/main/resources/day08/aoc-2024-8.txt
/src/main/resources/day09/aoc-2024-9.txt
/src/main/resources/day10/aoc-2024-10.txt
/src/main/resources/day11/aoc-2024-11.txt
/src/main/resources/day12/aoc-2024-12.txt
/src/main/resources/day13/aoc-2024-13.txt
/src/main/resources/day14/aoc-2024-14.txt
/src/main/resources/day15/aoc-2024-15.txt
/src/main/resources/day16/aoc-2024-16.txt
/src/main/resources/day17/aoc-2024-17.txt
/src/main/resources/day18/aoc-2024-18.txt
/src/main/resources/day19/aoc-2024-19.txt
/src/main/resources/day20/aoc-2024-20.txt
/src/main/resources/day21/aoc-2024-21.txt
/src/main/resources/day22/aoc-2024-22.txt
/src/main/resources/day23/aoc-2024-23.txt
/src/main/resources/day24/aoc-2024-24.txt
/src/main/resources/day25/aoc-2024-25.txt
